[Desktop Entry]
Version=1.0
Type=Application
Name=TRSHCN
Exec=/home/admin/start_trashscan.sh
Comment=Trashscan
keywords=pyth;waste;trashscan
Terminal=true
